head
{
    margin: 10px;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 10;
}

.caixa {
    width: 669px;
    margin: 20px auto;
    border: 3px solid gray;
    display: flex;
    flex-wrap: wrap;
}

.caixa div{
    padding: 20px;
    background-color: orangered;
    margin: 10;
    width: 200px;
}